#image{
	width: 150px;
	color:gold;
	font-weight: 400;
	padding-left: 25px;
	height: 55px;
	user-select: none;
	text-decoration: line-through;
    font-family: 'Gloria Hallelujah', cursive;
	font-style: italic;
	font-size: 30px;
    background-image: url(../img/fondoCaptcha.webp);
    border: black 1px solid;	
}

#user-input{
	width:auto;
	margin-right: 10px;
	padding: 10px;
	/*padding-top: 20px;*/
	height: 40px;
	border: black 0px solid;
}
input{
	border:1px black solid;
}
.inline{
	display:inline-block;
}