
body{
    
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(113,113,135,1) 0%, rgba(0,212,255,1) 100%);

}


.BOX2{
    font-family: 'Times New Roman', Times, serif;
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
   margin-bottom: 30px;
   margin: center;
    text-align: center;
   justify-content: center;
   background: rgb(47,193,254);
   background: linear-gradient(90deg, rgba(47,193,254,1) 0%, rgba(243,243,244,1) 0%, rgba(192,195,194,1) 100%);
    
}

.BOX3{
    display: flex;
    justify-content: center;
}

.item1{
    width: 20%;
}

.item2{
    width: 40%;
}

.item3{
    width: 10%;
}

.bar1{
    width: 90%;
    height: 500px;
}

.titulos{
    color:darkslategrey;
    font-family: sans-serif;
}