
.box1 {
    width: 80%;
    margin: 0 auto;
}

.subconte {
    width: 38%;
    height: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
    background-color: #fff;
    border-style: outset;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
}

header {
    width: 100%;
    height: 800px;

    background: #333333;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #dd1818a1, #333333a1), url(../img/bar2.jpg);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #dd1818a1, #333333a1), url(../img/bar2.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-size: cover;
    background-attachment: fixed;
    position: relative;

}

.box1 h1 {
    color: #dd1818;
    text-align: center;
}

.box1 button {
    background-color: #dd1818;
    color: white;
}

.box1 hr {
    background-color: #dd1818;
    height: 8px;
}

label{
    text-decoration: underline;
    text-decoration-color: #dd1818;
}