.con2{
    width: 90%;
    
    margin: 0 auto;
}
.con3{
    width: 90%;
    margin: 0 auto;
    background-color: white;
    text-align: center;
    height: 700px;
    
}

.tabla1{
    
    margin: 0 auto;
    width: 100%;
}

.oxxo{
    width: 40%;
}
